Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.8.1
args==0.1.0
bidict==0.23.1
binho-host-adapter==0.1.6
certifi==2024.8.30
chardet==5.1.0
charset-normalizer==3.4.0
clint==0.5.1
colorzero==2.0
distro==1.8.0
gpiozero==2.0.1
h11==0.14.0
idna==3.10
lgpio==0.2.2.0
pigpio==1.78
pycryptodomex==3.11.0
pyftdi==0.56.0
pyserial==3.5
python-apt==2.6.0
python-dotenv==1.0.1
python-engineio==3.14.2
python-socketio==4.6.1
pyusb==1.2.1
requests==2.32.3
rpi-lgpio==0.6
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
simple-websocket==1.1.0
six==1.16.0
smbus2==0.4.2
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
